@import '/src/abstract.scss';

.card,
.card_active {
  width: 300px;
  min-height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &-content {
    width: 100%;
    padding: 8px 15px !important;
    @include flexbox(space-between, center, row, nowrap);
  }
}

.card_active {
  background-color: #60dabf !important;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-name {
  font-weight: 600;
}
.kick-text {
  font-size: 18px;
}

.avatar {
  background-color: #ff5722 !important;
}

.card-content {
  padding: 10px;
  font-size: 1.2rem;
}