@import '/src/abstract.scss';

.card,
.card_active {
  width: 300px;
  min-height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &-content {
    width: 100%;
    gap: 12px;
    padding: 8px 12px !important;
    @include flexbox(space-between, center, row, nowrap);
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kick-text {
  font-size: 18px;
}

.avatar {
  background-color: #ff5722 !important;
}

.card-text {
  padding: 10px;
  font-size: 1.2rem;
}

.divider {
  width: 50%;
  transition: all 0.5s ease-in-out;
}

.member {
  &-name {
    font-weight: 600;
  }
  &:hover .divider {
    width: 100%;
  }
}
.scrumMaster {
  border-bottom: 2px solid red;
}

.player {
  border-bottom: 2px solid green;
}

.observer {
  border-bottom: 2px solid yellow;
}
