.firstPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
  &__logo {
    width: 85%;
    max-width: 500px;
  }
  &__link {
    width: 340px;
    top: -20px;
  }
}

@media screen and (max-width: 480px) {
  .firstPage__link {
    width: 100%;
  }
  .firstPage__link-wrapper {
    margin: 0 !important;
  }

  .main {
    padding: 0 10px;
  }
}
