{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "rules": {
    "no-control-regex": 0,
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreRegExpLiterals": true
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "func-names": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  }
}
