
*.*~
*[-\.]lock.json

.vscode
.vs
.idea

coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build results
dist

.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.css