@import '/src/abstract.scss';

.game {
  @include flexbox(space-between, flex-start, row, wrap);
  &__main {
    width: 80%;
    max-width: 850px;
    min-height: 80vh;
    @include flexbox(space-between, normal, column, nowrap);
  }

  &__right {
    width: 90%;
    max-width: 600px;
    position: sticky;
    top: 200px;
  }
}
