@import '/src/abstract.scss';

.game {
  &__wrapper {
    @include flexbox(space-between, normal, row, wrap);
  }
  &__main {
    width: 80%;
    max-width: 850px;
    min-height: 80vh;
    @include flexbox(space-between, normal, column, nowrap);
  }

  &__right {
    width: 90%;
    max-width: 600px;
  }
}

.message-area {
  min-height: 50px;
}

.round_controlPanel {
  height: 150px;
  @include flexbox(space-between, center, column)
}
