@import '../../node_modules/normalize-scss/sass/normalize';
@import '../abstract.scss';
@include normalize();

main {
  width: 100%;
  min-height: 80vh;
  margin: 40px auto 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
