@import '/src/abstract.scss';

.card {
  width: 300px;
  min-height: 100px;
  margin: 10px;
  &-content {
    @include flexbox(space-between, center);
  }
}
.card__scrumMaster {
  width: 300px;
  .card-content {
    @include flexbox(space-between, center);
    h3 {
      width: 80%;
    }
  }
}

.avatar {
  background-color: #ff5722 !important;
}
