@import '/src/abstract.scss';

.card {
  width: 300px;

  &-content {
    @include flexbox(space-between, center);
  }
}

.card-container {
  @include flexbox(normal, normal, row, wrap);
  gap: 20px;
  width: fit-content;
  max-width: 1000px;
  margin-bottom: 50px;
}

.avatar {
  background-color: #ff5722 !important;
}
