@import '../../abstract.scss';

.chat{
    @include flexbox(space-between, center, column, nowrap);
    height: 100%;
    margin: 0 auto;
    &__field{
        width: 90%;
        height: 90%;
        padding: 5px;
        overflow-y: scroll;
    }
    &__inputBox{
        width: 90%;
        height: 10%;
    }
}