@import '../../abstract.scss';
.chatMessage{
    max-width: 80%;
    width: fit-content;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
    @include flexbox(left, left, row, nowrap);
    &__user{
        @include flexbox(right, normal, row, nowrap);
        font-size: 12px;
        text-transform: uppercase;
        p{
            padding-left: 10px;
            white-space: nowrap;
        }
    }
    &__message{
        align-self: center;
        padding: 8.8px 10px 0 10px; 
    }
    &__time{
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
        text-align: right;
    }
}
.yourMessage {
    background-color: rgb(179, 221, 255);
    margin-left: auto;
}