@import '../../abstract.scss';
.menu {
  @include flexbox(space-between, left, column);
  width: 100%;
  margin: 0 auto;
  &__linkBox {
    gap: 20px;
    @include flexbox(normal, center);
    margin-bottom: 30px;
  }

  &__link {
    max-width: 500px;
    padding: 5px;
  }
  &__masterButtons {
    @include flexbox(space-between, center);
  }

  margin-bottom: 30px;
}

.lobby {
  @include flexbox(space-between, center, row, wrap);
  width: 100%;
  padding-bottom: 20px;
  &__main {
    max-width: 1000px;
    width: 90%;
  }
  &__chat {
    width: 90%;
    min-width: 300px;
    max-width: 400px;
    align-self: flex-start;
    height: 70vh;
  }
}

.button {
  &_copy {
    width: 100px;
  }

  &_exit {
    margin-top: 20px;
    width: fit-content;
    align-self: flex-end;
  }
}
