@import '../../abstract.scss';

.menu {
  position: relative;
  @include flexbox(space-between, left, column);
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  &__linkBox {
    gap: 15px;
    @include flexbox(normal, center);
    margin-bottom: 30px;
  }

  &__link {
    max-width: 500px;
    padding: 5px;
  }
  &__masterButtons {
    max-width: 450px;
    @include flexbox(space-between, center);
  }

  margin-bottom: 60px;
  &__alertBox {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    width: 400px;
  }
}

.lobby {
  @include flexbox(center, normal, column, wrap);
  padding-bottom: 20px;
  gap: 20px;
}

.button {
  &_copy {
    width: 100px;
  }

  &_exit {
    margin-top: 20px;
    width: fit-content;
    align-self: flex-end;
  }
}

.setting-container {
  max-width: 500px;
  margin-bottom: 20px;
}
